@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 140px 135px 140px 172px;
  background: #28293e;
}
.our-team {
  display: flex;
  justify-content: space-between;
}
.our-team .team-texts h1 {
  color: var(--text-light-accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.our-team .team-texts h2 {
  color: var(--text-light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}
.team-images
{
    display: flex;
}

.team-images .right img {
position: absolute;
}
.developers {
  margin-top: 88px;
}
.developers ul {
  display: flex;
  justify-content: space-between;
}
.developers ul li {
  list-style-type: none;
}
.developers ul li:first-child img {
  width: 196px;
  height: 247px;
}

.developers ul li:nth-child(2) img {
  width: 259px;
  height: 232px;
}
.developers ul li .border {
  width: 270px;
  height: 272px;
  border-radius: 6px;
  border: 1px solid #3a3c56;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.developers ul li:nth-child(3) img {
  width: 205px;
  height: 238px;
}

.developers ul li:nth-child(4) img {
  width: 230px;
  height: 233px;
  flex-shrink: 0;
}
